body {
  background-color: rgb(44, 48, 66);
  color: white;
  text-align: center;
  padding-top: 50px;
}

button {
  display: inline-block;
  padding: 14px 20px;
  margin: 10px;
  background-color: #ae0c0c;
  border: none;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
}

.button-style {
  display: inline-block;
  padding: 14px 20px;
  margin: 10px;
  background-color: #ae0c0c;
  border: none;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
}

button:hover,
.button-style:hover {
  background-color: #620707;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
}

#workoutList {
  border: 5px solid #ae0c0c;
  max-width: 290px;
  max-height: 390px;
  margin: auto;
  width: 50%;
  padding: 10px;
  overflow: auto;
}

#workoutList a:hover {
  background-color: #620707;
}

#workoutList a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
}

.exerciseContainer {
  width: 300px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  margin: auto;
  padding: 15px;
}

.set {
  padding: 5px 0;
}

h3 {
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 5px;
  color: #777;
}