<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= workout.name %>
  </title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <h1>Editing Workout: <%= workout.name %>
  </h1>
  <a href="/listWorkouts" id="backToWorkoutsButton" class="button-style">Back to Workouts</a>
</body>

</html>