<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gym Library</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <h1>Welcome to the Gym Application</h1>
  <p>This is a platform to manage your workouts.</p>

  <h2> What would you like to do?</h2>
  <a href="/createWorkout" id="createWorkOutButton" class="button-style">Create a Workout</a> <br>
  <a href="/viewWorkouts" id="viewWorkOutsButton" class="button-style">View Workouts</a> <br>
  <a href="/startWorkOut" id="startWorkoutButton" class="button-style">Start a Workout</a>
</body>

</html>