<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gym Library</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <h1>Welcome to the Gym Application</h1>
  <p>This is a platform to manage your workouts.</p>

  <h2> What would you like to do?</h2>
  <button id="createWorkOutButton">Create a Workout</button> <br>
  <button id="viewWorkOutButton">View a Workout</button> <br>
  <button id="startWorkoutButton">Start a Workout</button>
</body>

</html>