<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gym Library</title>
  <link rel="stylesheet" href="/gym-app/css/style.css">
</head>

<body>
  <h1>Welcome to the Gym Application</h1>
  <p>This is a platform to manage your workouts.</p>

  <h2> What would you like to do?</h2>
  <a href="/gym-app/createWorkout" id="createWorkOutButton" class="button-style">Create a workout</a> <br>
  <a href="/gym-app/listAllWorkouts" id="listAllWorkOutsButton" class="button-style">View all workouts</a> <br>
  <a href="/gym-app/startWorkOut" id="startWorkoutButton" class="button-style">Start a workout</a>
</body>

</html>